name: Run Unittests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'  

      - name: Install dependencies
        run: |
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run unittests
        run: |
          python -m unittest discover -s . -p "test_*.py"

      - name: Run load tests with Locust
        run: |
         locust -f test_locustfile.py --headless -u 10 -r 2 --run-time 1m --host http://127.0.0.1:5000 --csv locust_results

      - name: Start Flask app
        run: |
         export FLASK_APP=app.py
         flask run &
         sleep 5  # give it time to start

